body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; 
    text-align: center; 
}

.header, .footer{
    background-color: #1f2937;
}

.fun-facts{
    background-color: white;
}

.testimonial{
    background-color: #e5e7eb;
}

.nav, .hero-section{
    width: 75%;
}
.header{
    padding-bottom: 40px;
}

.fun-facts, .random-info-section, .testimonial, .call-to-action, .call-left{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 20px;
}

.logo{
    box-sizing: border-box;
    object-fit: cover;
    height: 100px;
    width: 100px;
    border: 2px solid goldenrod;
    border-radius: 50%;
}

.links{
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 300;   
}

a, .hero-section, .click, .sign-up, .call-blurb, .call-text, .footer{
    color: white;
    text-decoration: none;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 500px;
    gap: 20px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    }

.hero-image{
    box-sizing: border-box;
    object-fit: cover;
    height: 90%;
    border: 2px solid goldenrod;
    border-radius: 16px;
}

.click{
    width: 15%;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

h1{
    font-size: 48px;
    margin: 0;
}

.hero-text{
    font-size: 18px;
    margin: 0 0 10px 0;
}

.fun-facts{
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

h2{
    padding-bottom: 20px;
    font-size: 36px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: justify;
    max-width: 20%;
}

.info-img{
    box-sizing: border-box;
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 16px;
    border: 2px solid goldenrod;
}

.info-text{
    width: 40%;
}
.testimonial{
    padding: 40px;
}
.testimonial-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 80%;
}

.quote-text{
    width: 80%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author{
    width: 80%;
    text-align: right;
    font-size: 36px;
    font-weight: 900;   
}

.call-to-action{
    background-color: white;
}

.call-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 50px;
    border-radius: 16px;
    width: 80%;
    padding: 30px 50px;
}

.sign-up{
    align-self: center;
    background-color: #3882f6;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px 50px;
    border: 2px solid white;
}

.call-text{
    font-size: 32px;
    font-weight: 900;
    margin: 0;
}

.call-left{
    flex-direction: column;
    text-align: left;
}

.call-blurb{
    margin: 0;  
}

.footer{
    padding: 50px;
}